.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    justify-content: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color:#3c009d;
    font-size:48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;

}

.inputs{
    display: flex;
    flex-direction: column;

    gap: 25px;
    margin-top: 55px;
}

.input{
    width: 480px;
    height: 80px;
    background: #f1f0ff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin: auto;
}

.input img{
    margin: 0px 30px;
}

.input input{
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #797979;
    
}